* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans MT";
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

body {
    background-color: #1b1b1f;

    /* enlever scroll horizontal, vertial et cache la scroll bar */
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

#black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* noir semi-transparent */
    z-index: 8999;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #035712;
}


#text {
    color: #ffffff;
    padding-top: 3.1cm;
    padding-left: 2.2cm;
}

#emoji {
    position: absolute;
    top: 4%;
    left: 5.18cm;
    transform: translate(-50%, -50%) rotate(14deg);
    font-size: 2px;
    color: #757575;
    z-index: 9001;
    opacity: 0.8;
}

#barre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 29px;
    line-height: 60px;
    padding-left: 0.7cm;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 9001;
}

#flch,
#urlsite {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: start;
    padding-left: 0.7cm;
    color: white;
    z-index: 9001;
}

#flch {
    top: 2px;
    left: 73px;
    font-size: 28px;
    z-index: 9001;
}

#urlsite {
    top: 1px;
    left: 88px;
    font-size: 19px;
    z-index: 9001;
}

#stattotal{
    position: absolute;
    top: 15%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 800 !important;
    color: white;
}

.stats{
    position: relative;
    top: 25%;
    left: 110%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 400 !important;
    font-family: "Andy";
    color: white;
    z-index: 1010;
}

.separator {
    position: absolute;
    top: 13px;
    left: 220px;
    width: 35px;
    height: 2px;
    background-color: #3a3a3a;
    transform: rotate(90deg);
    transform-origin: left top;
    z-index: 9001;
    opacity: 0.7;
}

.button,
.submitbutton {
    position: absolute;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.button {
    top: 11px;
    left: 233px;
    padding: 6px 10px;
    border: 2px solid #04AA6D;
    background-color: white;
    color: #04AA6D;
    z-index: 1005;
}

.button:hover,
.submitbutton:hover {
    background-color: #04AA6D;
    color: white;
}

.submitbutton {
    position: relative;
    padding: 2px 5px;
    border: 1px solid #393c39;
    background-color: white;
    color: #393c39;
    border-radius: 4px;
    z-index: 1005;
}



@font-face {
    font-family: 'Andy';
    src: url('https://fonts.cdnfonts.com/css/andy-pro');
}

h2 {
    position: absolute;
    top : 73.5%;
    left: 4cm;
    color: white;
    padding-top: 0.19cm;
}

p {
    top : 100px;
    padding-right: 200px;
    position: relative;
    font-family: "Andy";
    z-index: 1006;
}

#ipoupas {
    position: absolute;
    padding-top: 20cm;
    padding-right: 1cm;
    opacity: 50%;
}

#entername {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 800 !important;
    color: white;
    white-space: nowrap;
    z-index: 9999;
}



.pseudo-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px; /* spacing between textarea and button */
    align-items: center;
    z-index: 9000;
}

.pseudoarea {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: #393c39;
    text-align: center;
    font-family: "Andy";
    font-size: 50px;
}

.pseudobutton {
    padding: 6px;
    border-radius: 4px;
    background-color: white;
    color: #393c39;
    text-align: center;
    font-family: "Andy";
    font-size: 38px;
}